@charset "utf-8";


/* Grid Styles for Page Body */



/* Page Body Styles */
body {
    margin-left: auto;
    margin-right: auto; 
    max-width: 960px;
    min-width: 640px;
    background-color: skyblue;
    font-family: Verdana, Geneva, Arial, sans-serif;   
}

 
.parent {  
    display: grid;
    grid-template-columns: 1fr .7fr 1.3fr;
    grid-template-rows: .4fr 1.6fr 1f;
    gap: 20px 20px;
    grid-auto-flow: column;
    justify-items: stretch;
    grid-template-areas:
    "SideBarNav titleImageTop titleImageTop"
    "SideBarNav profileLeft profileRight"
    "aboutMe sideScrollphotos sideScrollphotos";
     /* outline: 2px dashed pink;  */


  }

  

  .SideBarNav { grid-area: SideBarNav; 
                /* outline: 2px dashed pink; */

}

  
  .titleImageTop { grid-area: titleImageTop; 
                    width: 100%;
                    height: 150px;
                    /* outline: 2px dashed pink; */
                    background-color: rgb(241, 241, 241) ;
                    border-radius: 20%;
}
  

  .profileLeft { grid-area: profileLeft;
                 height: 600px;
                 background-color:rgb(241, 241, 241) ;
                 border-radius: 20% 20% 5% 5%;
                 /* outline: 2px dashed pink;  */
                 list-style-type: none;
                 /* margin-left: 10px; */
                 text-align: center;
                

}

.profileLeft ul {
  list-style: none;
  padding: 0;
  margin: 0;

  /* display: inline-block;
  align-items: center; */
}

  
  .profileRight { grid-area: profileRight;
                 max-height: 100%;
                 max-width: 100%;
                 /* outline: 2px dashed pink; */
                 list-style-type: none;
                 padding: 0px;
                 height: 600px;
                 background-color: rgb(241, 241, 241);
                 margin-left: 10px;
                 border-radius: 10%;
                 text-align: center;
}
 

.profileRight ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }

  .profileRightInfo {
margin-left: 22px;

  }


  .aboutMe { 
        grid-area: aboutMe; 
        /* outline: 2px dashed pink; */
        background-color: rgb(241, 241, 241);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        border-radius: 10%;

}
  
  .sideScrollphotos{ 
    grid-area: sideScrollphotos; 
    width: 100%;
    
    /* outline: 2px dashed pink;
                       */
}
  
/* -------------------bottom flyer grid stuff------------------------- */

.bottomParent{  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  /* outline: 2px dashed rgb(233, 25, 59);  */
  margin-top: 20px;
  grid-template-areas:
    "pastEventLeft upcomingEventRight upcomingEventRight"
    "pastEventLeft upcomingEventRight upcomingEventRight";
}


.pastEventLeft {  
  grid-area: pastEventLeft; 
  /* outline: 2px dashed rgb(25, 233, 91);  */
  height: 100%;


}



.upcomingEventRight{
  grid-area: upcomingEventRight;
  /* outline: 2px dashed rgb(122, 25, 233);  */
  height: 100%;

}




/* Explore page grid------------------------- */

.exploreDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px 10px;
  margin-top: 20px;
  height: fit-content;
  grid-template-areas: 
  "navDiv exploreTitle exploreTitle"
  "navDiv shoutOut shoutOut"
  ;

}

.navDiv {
  grid-area: navDiv;
  
}

.exploreTitle {
  grid-area: exploreTitle;
  background-color: rgb(241, 241, 241);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        border-radius: 10%;
        width: 100%;
        height: fit-content;
}

.shoutOut {
  grid-area: shoutOut;
  background-color: rgb(241, 241, 241);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        border-radius: 10%;
        height: fit-content;
}

.shoutOut img {
  width: 75%;
  margin-top: 20px;
  border-radius: 5%;
}

.shoutOut p {
  font-size: 12px;
  margin: 20px;
}

.bannerImage img{
  width: 100%;
  margin-top: 40px;

}

/* popUp html grid----------------- */








/* ---------------------------- */





/* ----------  Scroll Wheel ------------ */

.sideScrollphotos {
    background-color: rgb(241, 241, 241);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    height: auto; 
    width: 100%;
    border-radius: 10%;
  }
  
.sideScrollphotos img {
    padding: 10px;
    height: 350px;
  }

    
/* --------Image resize-------- */

.navImage  {
    width: 100%;
    background-color:rgb(241, 241, 241);
    border-radius: 20%;

}

.navImage a img {
    width: 90%;
    border-radius: 20%;
    margin-left: 8%;

}

.titleImageTop a img{
    width: 100%;
    height: 150px;
    border-radius: 15%; 
    display: block;
    margin-right: 8%;

}

/* explore page nav */
.popUpnav {
  width: 90%;
  border-radius: 20%;
  margin-left: 8%;

}


.navImagetop {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
  margin-bottom: 20px

}
/*  ------ */

.SideBarNav ul {
    list-style-type: none;
    /* margin: 20px ; */
    padding: 0px;
    width: 300px;
    height: 600px;
    background-color: rgb(241, 241, 241);
    border-radius: 5%;
  }
  

 .SideBarNav li a {
    display:block;
    color: #000;
    padding: 40px 25px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
 .SideBarNav li a:hover {
    background-color: #555;
    color: rgb(255, 255, 255);
  }


  .profileLeft img {
    max-width: 100%;
    height: auto; 
    border-radius: 20%; 
  }


  .socialMedia {
    width: 20px;
    height: auto;
    border-radius: 20%;
    display: inline-block;
    margin-right: 10px; 
    font-size: 10px;
}

.profileLeft h3 ul {
   display: inline-block;
   margin-left: 10px;
}

  .instagram-image {
    width: 30px;
    height: auto;
    border-radius: 20%; 
  }

.twitter-image{
    width: 30px;
    height: auto;
    border-radius: 20%; 

}

.invite-image{
    width: 30px;
    height: auto;
    border-radius: 20%; 
}



/* Form Layout Styles------------------------------ */

form#survey {
  display:flex;
  flex-flow: row wrap;
}

form#survey > fieldset {
  background-color:   rgb(255, 255, 255);;
  border-radius: 20px;
  flex: 1 1 300px;
  font-size: 0.85em;
  padding: 10px;
  margin: 10px;
}

div.formRow {
  display:flex;
  flex-flow: row wrap;
  margin: 7px 0px;
}

div.formRow > * {
  flex: 1 1 150px;
}

/* Legend Styles */

legend {
  background-color: rgb(43, 39, 32);
  color: white;
  padding: 5px;
  border-radius: 5%;
}


/* Text Area Styles */

textarea {
margin-top: 10px;
height: 100px;
width: 95%;
}

/* Spinner Styles */

div.formRow > input#dineSpin {
flex: 0 0 50px;
}



/* Form Button Styles */

div#buttons {
text-align: center;
width: 100%;
}

input[type='submit'], input [type='reset'] {
font-size: 1.2em;
padding: 5px;
margin: 15px;
}

/* Validation Styles */

input:focus, select:focus, textarea:focus {
background-color: rgb(220,255,220);
}

input#name:focus:valid,
input#zip:focus:valid,
input#phone:focus:valid{
background: rgb(220, 255, 220) url(rb_valid.png) bottom right/contain no-repeat;
}

input#name:focus:invalid,
input#zip:focus:invalid,
input#mail:focus:invalid{
background: rgb(255, 232,233) url(rb_invalid.png) bottom right/contain no-repeat; }



/* ----------------------------past events flyers ----------------------------- */


div.gallery {
  border: 1px solid #ccc;
  width: 100%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/* ----------------------------Upcoming events flyers ----------------------------- */


/* footer */

footer {
  width: 100%;
}



/* Explore page collapse thing */



.accordion-body{
  height: 300px;
}
.collapseImg img {
  height: 250px;
  float: left;
  margin: 5px;
}


.container-fluid {
  background-color: burlywood;
  margin-bottom: 20px;
}

.container-fluid img{
  height:200px;
  float: left;
  margin-right: 20px;
}


.container-fluid h2 {

  font-style: italic;
}
/* news articles */

.newsImage img {
  height: 200px;
}
